@charset "utf-8" ;
/* CSS Document */


h1, h2 ,h3 {
	color: lightcoral ;
	background-color: white ;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia "serif";
	
}
body {
	
	background-image:  url("file:///C:/Users/morris/Desktop/ENA%20PROJEKTNI/pozadina.jpg");
	
}

a {
	color: lightsalmon;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia "serif";
	
}
img {
	height: 300px;
	
}
